:root {
  --primary-color: #642c99;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.navbar{
  background-color:#f6bdcfba
}
.navbar-brand {
  font-family: "Lato Regular";
  color: #642C99;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #642C99;
}

body {
  padding: 0;
  margin: 0;
  font-size: 13px;
}


.cupcake {
  
  background: #f6bdcfba url('../images/1.png')no-repeat;
  background-position: bottom;
  padding-bottom: 100px;
  background-size: contain;
}

.top-right-img {
  text-align: center;
}

.top-right-img .img{
  width: auto;
}



.sweet {
  
  background: #f7f7bbc4 url('../images/2.png') no-repeat;
  background-position: bottom;
  padding-bottom: 200px;
  background-size: contain;  
}


.sweeter {
  background: #d7ffc66b url('../images/3.png') no-repeat;
  background-position: bottom;
  padding-bottom: 200px;
  background-size: contain;
}

.time {
  
  background: #ffe7ba9e url('../images/4.png') no-repeat;
  background-size: contain;
  padding-bottom: 200px;
  background-position: bottom;

}

.footer {
 
  background-color: #642c99;
}

@font-face {
  font-family: "Wendy One";
  src: url("../fonts/WendyOne-Regular.ttf");
}

@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato-Bold.ttf");
}

.touch-txt .h-2 {
  font-family: 'Wendy One';
  /* font-weight: 400; */
  font-size: 6em;
  line-height: 1em;
  color: #642c99;
}

.touch-txt .p-1 {
  font-size: 18px;
  line-height: 26px;
  color: #642c99;
}

.touch-txt .btn {
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  padding: 0.5em 2.3em;
}

.touch-txt .h-3 {
  font-family: 'Wendy One';
  font-size: 6em;
  line-height: 1em;
  color: #642c99;
  padding-bottom: 1em;
}

.touch-txt .h-4 {
  font-family: 'Wendy One';
  font-size: 1.95em;
  text-align: center;
  color: #642C99;
  padding-top: 2em;

}

.touch-txt .p-2 {
  font-family: 'Lato';
  text-align: center;
  color: #642C99;

}


.cl {
  color: #fdefd1;
}

.cl .h-2 {
  font-family: "Wendy One";
  /* font-weight: 400; */
  font-size: 32px;
}

.text {
  font-family: "Lato Bold";
  font-size: 18px;
}


.bold{
  font-family: "Lato Bold";
}

.value-button {
  display: inline-block;
    border: 1px solid #642C99;
    margin: 0px;
    width: 40px;
    /* height: 20px; */
    text-align: center;
    /* vertical-align: middle; */
    padding: 10px;
    /* background: #642C99; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

.operation{
  text-align: center;
    border: none;
    border-top: 1px solid #642C99;
    border-bottom: 1px solid #642C99;
    width: 3em;
    height: 2.85em;
    background-color: #edfee8;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.foot {
  padding: 40px 0;
  color: #fdefd1;
  font-family: "Lato Regular";
}

.foot ul {
  font-size: 1.1em;  
  text-align: center;
}

.foot ul li a {
  color: inherit;
  text-decoration: none;
}

.foot ul li {
  display: inline-block;
  padding: 0 2em;
}


@media screen and (max-width: 800px) {
  .foot .a {
    display: none;
  }
}